@charset "UTF-8";

@font-face {
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/Oswaldbold.woff") format("woff"), url("../fonts/Oswaldbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/Oswaldmedium.woff") format("woff"), url("../fonts/Oswaldmedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/Oswaldregular.woff") format("woff"), url("../fonts/Oswaldregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto.woff") format("woff"), url("../fonts/Roboto.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Robotobold.woff") format("woff"), url("../fonts/Robotobold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

*:not(p) {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  padding: 0 15px;
  width: 100%;
  margin: auto;
  max-width: 1140px;
}

.header,
.about,
.tours,
.main__price,
.blog,
.help,
.contact {
  margin-bottom: 140px;
}

.icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.icon-button:hover {
  background-color: rgba(252, 252, 252, 0.4);
}

.logo {
  position: relative;
  z-index: 1000;
}

.logo__text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
}

.logo__text--uppercase {
  text-transform: uppercase;
}

.button {
  width: 170px;
  height: 45px;
  border: 2px solid #FCFCFC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.4);
}

.button__link {
  margin: auto;
  color: inherit;
}

.title {
  font-family: "Oswald";
  font-weight: 600;
  font-size: 52px;
  line-height: 115%;
  color: #061B28;
}

.title--white {
  color: #FCFCFC;
}

.orange-button {
  background-color: #EC5118;
  cursor: pointer;
  text-align: center;
  padding: 20px 0;
  font-weight: 500;
  font-size: 16px;
  color: #FCFCFC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.orange-button:hover {
  color: #061B28;
}

.orange-button:hover::after {
  background-color: #061B28;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  left: calc(50% - 120px);
  top: 50%;
}

.orange-button:hover:before {
  background-color: #061B28;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: calc(50% + 120px - 40px);
  top: 50%;
}

.orange-button::after,
.orange-button::before {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 20px);
  width: 40px;
  height: 1px;
  background-color: #fff;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.orange-button:after {
  top: 10px;
}

.orange-button:before {
  bottom: 10px;
}

.burger {
  position: relative;
}

.burger__wrapper {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 1000;
}

.burger:after,
.burger:before {
  content: "";
  position: absolute;
}

.burger:before {
  top: 8px;
}

.burger:after {
  bottom: 8px;
}

.burger.active {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.active::after {
  bottom: -0px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.burger.active::before {
  top: -0;
  opacity: 0;
}

.burger,
.burger:after,
.burger:before {
  width: 28px;
  height: 3px;
  margin: auto;
  background-color: #FCFCFC;
  border-radius: 5px;
  display: block;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.header {
  background: url(../img/mountain-bg.jpg) center/cover no-repeat;
  height: 650px;
  color: #FCFCFC;
  font-size: 16px;
  line-height: 19px;
  padding-top: 42px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 100px;
}

.header__menu {
  margin-right: auto;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 300px;
  width: 100%;
}

.header__body {
  height: 572px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__inner {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__title {
  font-family: "Oswald";
  font-weight: 600;
  font-size: 98px;
  line-height: 100%;
  color: #FCFCFC;
  margin: 0 auto 50px;
}

.header__button {
  margin: 0 auto;
}

.phone {
  color: inherit;
}

.search {
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.profile {
  background-image: url(../img/profile-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: top 0.6s ease;
  -o-transition: top 0.6s ease;
  transition: top 0.6s ease;
}

.menu__list.active {
  -webkit-transition: top 0.6s ease;
  -o-transition: top 0.6s ease;
  transition: top 0.6s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #061B28;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: calc((100vw - 540px) / 2);
  padding-top: 100px;
}

.menu__list.active .menu__item {
  font-size: 35px;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #FCFCFC;
}

.menu__item {
  height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu__item:hover {
  background-color: rgba(252, 252, 252, 0.4);
}

.menu__link {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
}

.about {
  font-size: 18px;
  line-height: 150%;
  color: #061B28;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__title {
  max-width: 500px;
  margin-bottom: 50px;
}

.about__text {
  -webkit-box-flex: 35%;
      -ms-flex: 35% 0 1;
          flex: 35% 0 1;
  max-width: 35%;
}

.about__map {
  -webkit-box-flex: 65%;
      -ms-flex: 65% 0 1;
          flex: 65% 0 1;
  max-width: 65%;
}

.about__image {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.tours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tours > * {
  cursor: default;
}

.tours__title {
  margin: 0 auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-bottom: 68px;
}

.tours__body {
  margin: 0 -15px;
}

.tours__item {
  padding: 15px;
}

.tour {
  background-clip: content-box;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  color: #061B28;
  -webkit-transform: scale(0.9, 0.8);
      -ms-transform: scale(0.9, 0.8);
          transform: scale(0.9, 0.8);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.tour:hover {
  cursor: pointer;
}

.tour__inner {
  margin: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100% - 80px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.tour__location {
  position: absolute;
  top: 0;
  left: 15px;
}

.tour__location::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -15px;
  width: 13px;
  height: 13px;
  background-image: url(../img/geo-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 80%;
}

.tour__flag {
  position: absolute;
  top: -15px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tour__title {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  margin-bottom: 15px;
}

.tour__description {
  margin-bottom: 13px;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tour__heigth {
  border-right: 1px solid #061B28;
  padding: 0 10px 0 0;
  margin-right: 5px;
}

.tour__time {
  border-right: 1px solid #061B28;
  padding: 0 10px 0 0;
  margin-right: 5px;
}

.tour__level {
  margin-bottom: -5px;
}

.tour--mount1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(249, 249, 250, 0)), to(rgba(249, 249, 250, 0.6))), url("../img/beluha_mount.jpg");
  background-image: -o-linear-gradient(top, rgba(249, 249, 250, 0) 0%, rgba(249, 249, 250, 0.6) 100%), url("../img/beluha_mount.jpg");
  background-image: linear-gradient(180deg, rgba(249, 249, 250, 0) 0%, rgba(249, 249, 250, 0.6) 100%), url("../img/beluha_mount.jpg");
}

.tour--mount1:hover {
  background-image: url("../img/beluha_mount.jpg");
}

.tour--mount2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(249, 249, 250, 0)), to(rgba(249, 249, 250, 0.6))), url("../img/elbrus_mount.jpg");
  background-image: -o-linear-gradient(top, rgba(249, 249, 250, 0) 0%, rgba(249, 249, 250, 0.6) 100%), url("../img/elbrus_mount.jpg");
  background-image: linear-gradient(180deg, rgba(249, 249, 250, 0) 0%, rgba(249, 249, 250, 0.6) 100%), url("../img/elbrus_mount.jpg");
}

.tour--mount2:hover {
  background-image: url("../img/elbrus_mount.jpg");
}

.tour--mount3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(249, 249, 250, 0)), to(rgba(249, 249, 250, 0.6))), url("../img/everest_mount.jpg");
  background-image: -o-linear-gradient(top, rgba(249, 249, 250, 0) 0%, rgba(249, 249, 250, 0.6) 100%), url("../img/everest_mount.jpg");
  background-image: linear-gradient(180deg, rgba(249, 249, 250, 0) 0%, rgba(249, 249, 250, 0.6) 100%), url("../img/everest_mount.jpg");
}

.tour--mount3:hover {
  background-image: url("../img/everest_mount.jpg");
}

.price {
  color: #FCFCFC;
  height: 757px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(6, 27, 40, 0.92)), to(rgba(6, 27, 40, 0.92))), url(../img/mount-table-bg.jpg);
  background-image: -o-linear-gradient(bottom, rgba(6, 27, 40, 0.92), rgba(6, 27, 40, 0.92)), url(../img/mount-table-bg.jpg);
  background-image: linear-gradient(0deg, rgba(6, 27, 40, 0.92), rgba(6, 27, 40, 0.92)), url(../img/mount-table-bg.jpg);
  background-position: center;
  background-size: cover;
}

.price__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.price__inner {
  width: 100%;
  max-width: 830px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__title {
  margin-bottom: 15px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.price__text {
  max-width: 60%;
  text-align: center;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 40px;
}

.price__table {
  margin-bottom: 60px;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.table__row {
  -webkit-box-flex: 100%;
      -ms-flex: 100% 0 1;
          flex: 100% 0 1;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.table__row.active {
  cursor: pointer;
  background-color: rgba(252, 252, 252, 0.4);
}

.table__cell {
  -webkit-box-flex: 25%;
      -ms-flex: 25% 0 1;
          flex: 25% 0 1;
  max-width: 25%;
  width: 100%;
  padding: 25px 40px;
  border-bottom: 1px solid #45545E;
  font-weight: 500;
  font-size: 20px;
}

.table__head-item {
  font-size: 18px;
  color: #A7AEB4;
}

.blog p {
  margin: 0;
}

.blog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__title {
  margin-bottom: 80px;
}

.blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog__list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog__list {
  margin-bottom: 30px;
}

.blog__list-item {
  cursor: pointer;
  border-bottom: 1px solid #061B28;
  padding: 30px 10px 30px 30px;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.blog__list-item.active {
  background-color: #061B28;
  color: #FCFCFC;
}

.blog__list-item:hover {
  background-color: #061B28;
  color: #FCFCFC;
}

.blog__date {
  font-size: 14px;
  color: #626F77;
  margin-bottom: 20px;
}

.blog__list-item-text {
  font-size: 18px;
  line-height: 140%;
}

.blog__article {
  -webkit-box-flex: 100%;
      -ms-flex: 100% 0 1;
          flex: 100% 0 1;
  max-width: 100%;
  padding-left: 70px;
  opacity: 0;
}

.blog__article.active {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 1;
}

.blog__image {
  margin-bottom: 40px;
}

.blog__image img {
  width: 100%;
  height: 300px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__article-date {
  margin-bottom: 20px;
  color: #626F77;
  font-size: 14px;
}

.blog__article-title {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 35px;
  line-height: 150%;
}

.blog__article-descr {
  font-size: 16px;
  line-height: 150%;
  max-height: 500px;
  overflow: auto;
}

.blog__article-descr p {
  margin: 20px 0;
}

.help {
  background-color: #061B28;
  color: #FCFCFC;
  height: 690px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.help__container {
  margin-left: auto;
  width: calc(100vw / 2);
  padding-left: 15px;
}

.help__img {
  width: calc(100vw / 2);
  height: 100%;
  overflow: hidden;
}

.help__img img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.help__content {
  max-width: calc(1140px / 2 - 60px);
  margin: 60px;
  margin-left: auto;
}

.help__title {
  color: #FCFCFC;
}

.help__description {
  font-size: 18px;
  line-height: 150%;
  max-width: 431px;
}

.help__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.help__label {
  position: relative;
  margin-bottom: 30px;
}

.help__label::before {
  display: block;
  position: absolute;
  top: 8px;
  color: #7E8386;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.help__label.active::before {
  top: -8px;
  left: 0;
  -webkit-transform: perspective(1px) scale(0.7);
          transform: perspective(1px) scale(0.7);
}

.help__label-name::before {
  content: "Имя";
}

.help__label-phone::before {
  content: "Телефон";
}

.help__label-mail::before {
  content: "E-mail";
}

.help__input {
  width: 100%;
  height: 30px;
  background: none;
  color: #FCFCFC;
  border-bottom: 1px solid #45545E;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.help__input:hover {
  border-bottom: 1.5px solid white;
}

.help__message {
  font-size: 14px;
  line-height: 140%;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__map {
  max-width: 50%;
  -webkit-box-flex: 50%;
      -ms-flex: 50% 0 1;
          flex: 50% 0 1;
}

.contact__body {
  max-width: 50%;
  -webkit-box-flex: 50%;
      -ms-flex: 50% 0 1;
          flex: 50% 0 1;
  padding-left: 70px;
}

.contact__title {
  margin-bottom: 40px;
}

.contact__item {
  margin-bottom: 20px;
}

.contact__type {
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 8px;
}

.contact__info {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  max-width: 305px;
}

.contact__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__icon {
  margin-right: 33px;
}

.contact__icon svg path {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.contact__icon:hover {
  background-color: #061B28;
}

.contact__icon:hover svg path {
  fill: #FCFCFC;
}

.contact__icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#map {
  width: 100%;
  height: 457px;
}

.footer {
  color: #FCFCFC;
  background-color: #061B28;
  height: 121px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__container > * {
  width: 33.333%;
}

.footer__copyright {
  font-size: 12px;
}

.footer__logo {
  text-align: center;
}

.footer__conf {
  font-size: 12px;
  text-align: right;
}

.slider-button {
  position: absolute;
  top: calc(50% - 22.5px);
  background-image: url("../img/arrow-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50%;
  border-radius: 50%;
  z-index: 1;
}

.slider-button.disabled {
  pointer-events: none;
  background-color: lightgray;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.tours__body {
  display: block;
  position: relative;
  font-size: 0;
  overflow: hidden;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tours__item {
  font-size: 14px;
  position: relative;
  z-index: 0;
  /* transform: translate(100%); */
  padding: 15px;
  /* flex: calc(100% / 3) 0 1; */
  /* max-width: calc(100% / 3); */
  display: inline-block;
  /* width: 100%; */
}

body {
  font-family: "Roboto";
  color: #061B28;
}

@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }

  .header__contacts {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .phone {
    margin-right: 10px;
  }

  .blog__article {
    padding-left: 40px;
  }

  .about__text {
    -webkit-box-flex: 50%;
        -ms-flex: 50% 0 1;
            flex: 50% 0 1;
    max-width: 50%;
  }

  .about__map {
    -webkit-box-flex: 50%;
        -ms-flex: 50% 0 1;
            flex: 50% 0 1;
    max-width: 50%;
  }

  .header,
  .about,
  .tours,
  .main__price,
  .blog,
  .help,
  .contact {
    margin-bottom: 100px;
  }

  .tour {
    height: 350px;
  }

  .help__content {
    max-width: calc(960px / 2 - 40px);
    margin-right: 40px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }

  .header,
  .about,
  .tours,
  .main__price,
  .blog,
  .help,
  .contact {
    margin-bottom: 80px;
  }

  .header__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header__logo {
    margin-right: 10px;
  }

  .header__menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: auto;
    margin-right: 0;
  }

  .about__map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .tour {
    height: 300px;
  }

  .tour__inner {
    margin: 20px 15px;
    height: calc(100% - 40px);
  }

  .tour__title {
    font-size: 24px;
  }

  .tour__description {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .table__cell {
    padding: 25px 30px;
  }

  .blog__list-container {
    max-width: 250px;
  }

  .blog__article {
    padding-left: 10px;
  }

  .blog__list-item {
    padding: 30px 10px;
  }

  .help__title {
    font-size: 40px;
  }

  .help__content {
    max-width: calc(720px / 2 - 30px);
    margin-right: 30px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }

  .burger__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__list {
    position: fixed;
    z-index: 10;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #061B28;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: calc((100vw - 540px) / 2);
    padding-top: 100px;
    -webkit-transition: top 0.4s ease;
    -o-transition: top 0.4s ease;
    transition: top 0.4s ease;
  }

  .about__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about__text,
  .about__map {
    -webkit-box-flex: 100%;
        -ms-flex: 100% 0 1;
            flex: 100% 0 1;
    max-width: 100%;
  }

  .table__cell {
    padding: 25px 10px;
    font-size: 20px;
  }

  .blog__article {
    display: none;
  }

  .blog__list-container {
    max-width: 100%;
  }

  .main__help {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }

  .help__container {
    width: 100%;
    margin-left: 0;
    padding: 15px;
  }

  .help__content {
    margin: 15px;
  }

  .help__img {
    width: 100%;
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;
    padding: 15px;
  }

  .contact__container {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }

  .contact__map,
  .contact__body {
    -webkit-box-flex: 100%;
        -ms-flex: 100% 0 1;
            flex: 100% 0 1;
    max-width: 100%;
    padding-left: 0;
  }

  .footer {
    height: auto;
  }

  .footer__container {
    display: block;
    padding: 20px;
  }

  .footer__container * {
    width: 100%;
    text-align: center;
  }

  .help__content {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 575.98px) {
  .header {
    height: auto;
  }

  .header__body {
    height: 400px;
  }

  .header__contacts {
    max-width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .header__title {
    font-size: 70px;
    margin-bottom: 20px;
  }

  .title {
    font-size: 40px;
  }

  .about__title {
    margin-bottom: 0;
  }

  .tours__body {
    display: none;
  }

  .price__text {
    margin-bottom: 0;
  }

  #map {
    height: 300px;
  }
}